.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    font-weight: 600;
    padding: 1rem;
}

.input-group-text {
    cursor: pointer;
}

.table th {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #555;
}

.table td {
    vertical-align: middle;
    font-size: 0.9rem;
}

/* Badges redondeados */
.badge {
    border-radius: 50px;
    padding: 0.5em 0.8em;
    font-weight: 500;
}